*{
    margin: auto;
    font-family: "Roboto", sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.top-nav-bar{
    background-color: #52E6CB;
}
.top-nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
}
.top-nav-item-anchor{
    font-size: 10px;
    text-decoration: none;
    color: #F5AD18;
}
.top-nav-item{
    padding: 1px;
}
.top-nav-item:hover{
    padding: 0px;
    border: 1px solid white;
}
.top-nav-item-anchor img{
    width: 100px;
    height: 50px;
}
.search-container{
    display: flex;
    height: 50px;
    /* align-items: center; */
    /* background-color: white; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* border: 1px solid black; */
}
.department-dropdown{
    text-align: center;
    font-size: 20px;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    width: 240px;
}
.department-dropdown:hover{
    cursor: pointer;
    background-color: #CBCBCB;
}
.department-dropdown-option{
    background-color: white;
    text-align: left;
}
.department-dropdown-option:hover{
    cursor: pointer;
}
.search-bar-container{
    height: 100px;
    z-index: 1000;
}
.search-bar{
    width: 500px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.search-bar:focus{
    box-shadow:  0 0 3px 5px orangered;
    transition: 0.2s ease;
    z-index: 999;
}
.search-bar:focus ~ div{
    display: block;
    z-index: 999;
}
.search-bar:focus + .search-bar-dropdown{
    display: block;
}
.search-bar-overlay{
    display: none;
    transition: 0.5s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.search-bar-dropdown{
    display: none;
    width: 100%;
    height: 300px;
    background-color: white;
    list-style: none;
    overflow-y: auto;
}
.search-bar-recommendation{
    font-size: 20px;
    width: 100%;
    margin-left: -40px;
    padding: 10px;
}
.search-bar-recommendation:hover{
    cursor: pointer;
    background-color: #8FABD4;
}
.search-bar-recommendation-highlight{
    display: inline;
    color: black;
}
.search-button{
    font-size: 30px;
    background-color: #FFC400;
    color: black;
    border: 1px solid black;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 50px;
}
.search-button:hover{
    cursor: pointer;
    background-color: #feaa01;
}
.language-dropdown{
    background: none;
    border: none;
    font-size: 15px;
    color: #F5AD18;
}
.language-dropdown-option{
    color: black;
}
.language-dropdown-option:hover{
    cursor: pointer;
}
.signin-dropdown-button{
    background: none;
    border: none;
    color: #F5AD18;
    font-size: 20px;
}
.signin-dropdown:hover > .signin-dropdown-menu{
    display: block;
}
.signin-dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    margin-left: -340px;
    text-align: center;
    width: 400px;
    z-index: 100;
}
.top-nav-signin-button{
    color: black;
    background-color: #FFD93D;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    width: 300px;
    box-shadow: 1px 1px 4px black;
    height: 40px;
    margin: 10px  auto;
}
.top-nav-signin-button:hover{
    cursor: pointer;
    background-color: #FCC61D;
    transition: 0.8s ease;
}
.new-user{
    color: #334443;
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    text-align: center;
}

.bottom-nav-bar{
    background-color: black;
}
.bottom-nav-list{
    display: flex;
    align-items: center;
    list-style: none;
}
.sidebar-button{
    border: none;
    background: none;
    font-size: 20px;
    color:#777C6D;
}
.sidebar-button:hover{
    cursor: pointer;
}
.bottom-nav-item{
    padding: 1px;
}
.bottom-nav-item:hover{
    border: 1px solid white;
    padding: 0px;
}
.bottom-nav-item a{
    text-decoration: none;
    font-size: 20px;
    color:#777C6D;
}

.product-category-nav{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
}
.product-category-list{
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 30px;
}
.product-category-item i{
    font-size: 50px;
}
.product-category-item:hover{
    cursor: pointer;
}

.sidebar{
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: -301px;
    background-color: white;
    border: 1px solid black;
    width: 300px;
    height: 100%;
    z-index: 1001;
}
.sidebar-overlay{
    position: fixed;
    display: none;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}
.sidebar-signin-button{
    background-color: #1A3D64;
    width: 300px;
    height: 10%;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.sidebar-signin-button i{
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 2px 5px;
}
.sidebar-signin-button:hover{
    cursor: pointer;
    background-color: #0C2B4E;
    transition: 0.6s ease;
}
.sidebar-slide{
    width: 200%;
    height: 90%;
    display: flex;
    align-items: center;
}
.main-menu{
    margin-left: 0px;
    width: 50%;
    height: 100%;
}
.back-to-main-menu{
    border: none;
    background: none;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.back-to-main-menu:hover{
    cursor: pointer;
}
.menu-section-heading{
    text-align: center;
}
.menu-section-list{
    list-style: none;
    margin-left: -30px;
    margin-top: 10px;
    /* justify-content: center;
    display: flex; */
}
.menu-section-item{
    margin-top: 10px;
    margin-left: -10px;
    padding: 10px;
}
.menu-section-item:hover{
    background-color: #CBCBCB;
    cursor: pointer;
}
.menu-section-caret{
    position: absolute;
    left: 290px;
}
.submenu{
    display: none;
    width: 50%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}
.menu-section{
    margin-top: 10px;
}
.sidebar-close-button{
    position: absolute;
    left: 200px;
    font-size: 30px;
    border: none;
    background: none;
    color: black;
    font-weight: bold;
    padding: 1px;
}
.sidebar-close-button:hover{
    cursor: pointer;
    border: 1px solid black;
    padding: 0px;
}