*{
    /* font-family: "Roboto", sans-serif; */
    font-family:Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

    margin: auto;
}
body{
    height: 100vh;
    background-color: #ECF4E8;
}

.slide-container{
    /* margin: 20px auto; */
    margin-top: 82px;
    width: 90%;
    height: 70%;
    overflow: hidden;
}
.slide{
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: slide 12s linear infinite;
    animation-play-state: running;
}
@keyframes slide {
    0%{
        transform: translateX(0%);
    }
    16%{
        transform: translateX(0%);
    }
    24%{
        transform: translateX(-25%);
    }
    40%{
        transform: translateX(-25%);
    }
    48%{
        transform: translateX(-50%);
    }
    64%{
        transform: translateX(-50%);
    }
    72%{
        transform: translateX(-75%);
    }
    88%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(0%);
    }
}
.slide img{
    width: 25%;
    height: 100%;
}
.slide-left, .slide-right{
    margin-top: 180px;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    background-color: white;
    font-size: 80px;
    z-index: 998;
}
.slide-left{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.slide-right{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 87%;
}
.slide-left:hover, .slide-right:hover{
    cursor: pointer;
    background-color: #CBCBCB;
    transition: 0.5s ease;
}

.item-slide-container{
    width: 95%;
    height: 300px;
    position: relative;
    margin: 30px auto;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    overflow: hidden;
    background-color: white;
}
.item-slide-name{
    font-size: 25px;
    margin: 10px 10px ;
    height: 10%;
}
.item-slide{
    width: 160%;
    height: 90%;
    display: flex;
    position: absolute;
    /* left: 10%; */
    /* animation: itemSlide 4s linear infinite; */
}
@keyframes itemSlide {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-12.5%);
    }
    75%{
        transform: translateX(-12.5%);
    }
    100%{
        transform: translateX(0%);
    }
}
.item-anchor{
    overflow: hidden;
    width: 12%;
    height: 100%;
    text-decoration: none;  
    text-align: center;
    color: black;
}
.item-image{
    /* width: 100%; */
    height: 70%;
    aspect-ratio: 1;
}
.item-name{
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    /* margin: 10px auto; */
}
.item-price{
    font-size: 15px;
    width: 100%;
}
.item-slide-left, .item-slide-right{
    position: absolute;
    font-size: 80px;
    user-select: none;
    margin-top: 100px;
    z-index: 100;
    border: none;
    background: none;
}
.item-slide-left:hover, .item-slide-right:hover{
    cursor: pointer;
    background-color: #F4F4F4;
    transition: 0.5s ease;
}
.item-slide-left:hover{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.item-slide-right{
    right: 0%;
}
.item-slide-right{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.discovery-box-container{
    /* background-color: white; */
    width: 100%;
    height: 500px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}
.discovery-box{
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.discovery-item-row{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
}
.discovery-item{
    border: 1px solid #B6AE9F;
    width: 45%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    text-decoration: none;
}
.discovery-item-name{
    font-size: 15px;
    height: 10%;
    font-weight: normal;
}
.discovery-item-image{
    width: 90%;
    aspect-ratio: 1;
    margin-top: 5%;
}
.discovery-item-image:hover{
    margin-top: 0%;
}

footer{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #0F0E0E;
    display: flex;
    /* align-items: center; */
}
.footer-list, .footer-mail-us{
    margin: 20px auto;
    list-style: none;
}
.footer-list a{
    text-decoration: none;
}
.footer-list-heading, .footer-mail-us h3, .footer-social-media h3{
    color: #ECEEDF;
    margin-bottom: 20px;
}
.footer-item, .footer-mail-us p{
    margin-top: 5px;
    color: white;
}
.footer-item:hover{
    text-decoration: underline;
}
.footer-social-media{
    margin-top: 15px auto;
    display: flex;
    flex-direction: column;
}
.footer-social-media-options{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-social-media-options i{
    font-size: 30px;
}

.cart{
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid black;
    height: 50px;
    bottom: 100px;
    left: 40%;
    border-radius: 10px;
    text-align: right;
    background-color: green;
    animation: cart-hover 2s linear infinite;
}
.cart:hover{
    cursor: pointer;
}
@keyframes cart-hover {
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(10%);
    }
    50%{
        transform: translateY(0%);
    }
    75%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}
.cart i{
    font-size: 40px;
}
.cart-text{
    font-weight: bold;
    color: white;
    font-size: 20px;
}